* {
    background-color: black; 
    color: white;
    scroll-behavior: smooth;
    text-align: center;
    background-image: url("/Images/starry-sky.jpeg");
}

header, footer {
    display: flex;
    justify-content: center;

}
.button {
    width: 200px;
    height: 40px;
    cursor: pointer;
    color:gold;
    background-color: black;
    
}

.button:hover {
    color: red;
  }

.starwars-body {
    width: 100%;
    
}

.characterPic {
    height: 425px;
    width: 300px;
    margin-right: 75px;
    border-style: inset;
}

h3 {
    
    color: black;

}

.table {
    display: flex;
    justify-content: space-between;
    margin: 100px;
    border-color: black;
    
}

.shipName {
    margin-left: 50px;
    
}

.shipPics {
    height: 150px;
    width: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.starwars_title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
