* {
    background-color: grey; 
    color: white;
    
}

header, footer {
    display: flex;
    justify-content: center;

}
.button {
    
    width: 800px;
    height: 40px;
    color: red;
    background-color: black;
}

.starwars-body {
    width: 100%;
    margin: 50px;
}

.character {
    
}

h3 {
    
    color: #f483f3;

}

.table {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    border-color: black;
}