
body { 
  font-family: sans-serif; 
  margin: 100px;
  background-color: rgb(3, 3, 100);
  background-image: url(/Images/poke-background2.jpeg);

}

.pokeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

#pokemon {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.scene {
  width: 200px;
  height: 260px;
  margin: 40px 0;
  perspective: 600px;
  display: flex;
  
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  box-shadow: 10px 10px 5px rgb(43, 41, 41);
  border-width:8px;  
  border-style:groove;
  border-radius: 30px;
  border-color:yellow;
  
  
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 35px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;

  backface-visibility: hidden;
}

.card__face--front {
  background:rgb(51, 51, 163);
  background-image: linear-gradient(darkblue, blue, lightblue);
  
  text-shadow: 2px 2px 5px black;
  border-radius: 20px;
}

.card__face--back {
  background-image: linear-gradient( rgb(241, 191, 26), white);
  transform: rotateY(180deg);
  text-shadow: 2px 2px 5px black;
  border-radius: 20px;
  font-size: 1rem;
  line-height: 20px;
}

.picture {
  height: 150px;
  width: 150px;
  padding: 20px;
}

.button {
  transition-duration: 0.4s;
  height: 30px;
  width: 200px;
  border: thick double yellow;
  border-radius: 15px;
}

.button:hover {
  background-color: teal;
  color: white;
  
}

h1 {
  color: yellow;
  font-style: italic;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
