body {
    background-color: blue;
    color: white;
    margin: 100px;
    background-image: linear-gradient(rgb(16, 16, 138), white)

}

.blue {
    background-color: rgb(16, 16, 138);
    background-image: linear-gradient(rgb(16, 16, 138), white);
    color: white;
    margin: 100px;

}

.red {
    background-color: rgb(168, 21, 21);
    background-image: linear-gradient(rgb(168, 21, 21), white);
    color: white;
    margin: 100px;
}

.congressContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-width: 8px;
    border-style: groove;
    border-color: gold;
}

.scene {
    width: 260px;
    height: 260px;
    margin: 40px 0;
    perspective: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    box-shadow: 10px 10px 5px black; 
    border-width:8px;  
    border-style:groove;
    border-color: goldenrod;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 35px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
  
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background:rgb(51, 51, 163);
    text-shadow: 2px 2px 5px black;
    
  }
  
  .card__face--back {
    background: rgb(194, 9, 9);
    transform: rotateY(180deg);
    text-shadow: 2px 2px 5px black;
    font-size: 1rem;
    line-height: 20px;
  }
  
  .picture {
    width: 90%;
    padding: 20px;
    border-style: groove;
    border-width: 20px;
    border-color: gold;
    
  }

  .no-display {
      display: none;
  }


  
  